@property --clip-path-top {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --clip-path-top-invert {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

div[data-border] {
  border: 2px solid var(--md-accent);
  width: 1em;
  height: 1em;
  position: absolute;
}

.dot-background {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(var(--md-accent) 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    #000 10%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 100% 100% at 50% 50%,
    #000 10%,
    transparent 100%
  );
}

div[data-border]:nth-child(1) {
  border-right: 0;
  border-bottom: 0;
}

div[data-border]:nth-child(2) {
  border-left: 0;
  border-bottom: 0;
  right: 0;
}

div[data-border]:nth-child(3) {
  border-top: 0;
  border-left: 0;
  right: 0;
  bottom: 0;
}

div[data-border]:nth-child(4) {
  border-top: 0;
  border-right: 0;
  bottom: 0;
}

.hero-invert div {
  -webkit-text-stroke: 2px var(--md-accent);
  color: transparent;
  position: relative;
}

.hero > :last-child {
  clip-path: inset(0 0 100% 0);
}

@keyframes updateClipPath {
  to {
    --clip-path-top: 100%;
  }
}
