@import url("./colors.css");
@import url("./md.css");

@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Black.ttf") format("ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Bold.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Light.ttf") format("ttf");
  font-weight: 300;
}
