@import url('./colors.css');
@import url('./md.css');
@import url('./fonts.css');

html {
  scroll-behavior: smooth;
}

/* Prevent scroll when popover is open */
html:has(nav:popover-open) {
  overflow: hidden;
}
