:root {
  --accent-saturation-level: 25%;
  --accent-lightness-level: 85%;
  --md-accent: hsl(
    var(--tint-color),
    var(--accent-saturation-level),
    var(--accent-lightness-level)
  );
  --md-secondary: hsl(var(--tint-color), 10%, 85%);
  --md-card: hsl(var(--tint-color), 10%, 65%);
  --md-card-foreground: hsl(var(--tint-color), 10%, 25%);
  --md-text-primary: hsl(var(--tint-color), 100%, 15%);
  --md-text-accent: hsl(var(--tint-color), 70%, 25%);
}

.dark {
  --md-secondary: hsl(var(--tint-color), 10%, 25%);
  --md-card: hsl(var(--tint-color), 10%, 35%);
  --md-card-foreground: hsl(var(--tint-color), 10%, 85%);
  --md-text-primary: hsl(var(--tint-color), 100%, 85%);
  --md-text-accent: hsl(var(--tint-color), 70%, 75%);
}

[data-md-content] img {
  margin: auto;
  border-radius: 1em;
}

[data-md-content] {
  color: var(--md-text-primary);
}

[data-md-content] p {
  text-align: justify;
}

[data-md-content] strong {
  color: var(--md-text-accent);
}

[data-md-content] h1 {
  text-align: center;
}

[data-md-content] h2 {
  text-decoration: underline;
}

[data-md-content] li::marker {
  color: var(--md-card-foreground);
}

[data-md-content] li {
  transition: background-color 200ms;
  border-radius: 0.5em;
}

[data-md-content] li:hover {
  background-color: var(--md-secondary);
  transition: background-color 200ms;
}

[data-md-content] pre {
  display: grid;
  grid-template-columns: minmax(100px, 1fr);
}

[data-md-content] pre code {
  text-wrap: wrap;
}

[data-md-content] blockquote {
  background-color: var(--md-card);
  color: var(--md-card-foreground);
  padding-left: 2em;
  padding-right: 1em;
  padding-block: 0.5em;
  border-inline-start-color: var(--md-accent);
  border-radius: 0 0.5em 0.5em 0;
}

[data-md-content] blockquote li:hover {
  background-color: inherit;
}

[data-md-content] > blockquote > blockquote {
  border-inline-start-color: hsl(
    190deg,
    calc(var(--accent-saturation-level) + 20%),
    calc(var(--accent-lightness-level) - 20%)
  );
}

[data-md-content] > blockquote > blockquote > blockquote {
  border-inline-start-color: hsl(
    190deg,
    calc(var(--accent-saturation-level) + 40%),
    calc(var(--accent-lightness-level) - 40%)
  );
}

[data-md-content] blockquote li {
  font-weight: 300;
}

[data-md-content] blockquote > :first-child {
  font-weight: 700;
}

[data-md-content] blockquote :not(:first-child) {
  font-weight: 300;
}

[data-md-content] blockquote :first-child::before {
  content: '';
}

/* header-click animation for when header has been clicked */
.header-clicked {
  animation: headerClicked 1.5s both;
}

@keyframes headerClicked {
  0%,
  100% {
    background-color: inherit;
  }
  50%,
  80% {
    background-color: var(--md-accent);
  }
}
