---
import RigthArrowMicroIcon from '../icons/RigthArrowMicroIcon.astro'
---

<span
  class='-translate-x-2 opacity-0 transition group-hover:translate-x-0 group-hover:opacity-100'
>
  <slot />
</span>
