---
import RigthArrowMicroIcon from '../icons/RigthArrowMicroIcon.astro'
import HoverableIcon from './HoverableIcon.astro'

interface Props {
  href: string
  id?: string
}

const { href, id } = Astro.props
---

<a
  transition:name={id}
  href={href}
  class='group flex items-center gap-2 px-4 capitalize no-underline transition-colors hover:bg-secondary'
>
  <slot />
  <HoverableIcon><RigthArrowMicroIcon /></HoverableIcon>
</a>
