---
import '../styles/index.css'
import Header from '../components/common/header/Header.astro';
import Footer from '../components/common/footer/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-geist bg-background ">
    <Header />
    <section class="prose lg:prose-xl max-w-screen-tablet mx-auto pt-28 grid grid-rows-[1fr_auto] min-h-dvh">
      <slot />
      <Footer/>
    </section>
	</body>
</html>
