---
import './header.css'
---

<header class="header w-full fixed top-0 left-0 border-b">
  <div class="mx-auto max-w-screen-tablet flex justify-between items-center py-4">
    <section class="">
      UNGS Archive
      <span class="block text-xs">Santiago Zarate </span>
    </section>
    <nav class="flex gap-4">
      <a class="text-sm uppercase font-light opacity-50 hover:opacity-100 transition-opacity" href="materias">materias</a>
      <a class="text-sm uppercase font-light opacity-50 hover:opacity-100 transition-opacity" href="materias">Parciales</a>
    </nav>
  </div>
</header>