:root {
  --header-background: hsl(var(--tint-color), var(--background-intensity), 75%);
  --header-accent: hsl(var(--tint-color), 25%, 85%);
}

.dark {
  --header-background: hsl(var(--tint-color), 80%, 3%);
}

.header {
  border-bottom: 1px solid hsl(0deg, 0%, 50%);
  background-color: var(--header-background);
}

.header:has(#blur-effect:checked) {
  background-color: var(--header-background);
}

@supports (backdrop-filter: blur()) {
  #blur-effect:checked ~ label {
    display: block;
    background-color: var(--header-accent);
  }
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .header {
      animation: headerScrollAnimation linear both;
      animation-range: 0 10dvh;
      animation-timeline: scroll();
      backdrop-filter: blur(0px);
      background-color: transparent;
      border-bottom: 1px solid transparent;
    }
  }
}

@keyframes headerScrollAnimation {
  to {
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0deg, 0%, 50%);
  }
}

/* html:has(#mobile-menu:checked) .hamburguer-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  inset: 0;
  } */

#nav {
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition:
    opacity 200ms,
    display 500ms allow-discrete;
  opacity: 0;
  padding: 0;
  margin: 0;
  /* display: flex;
  justify-content: end; */
}

#nav:popover-open {
  opacity: 1;
}

@starting-style {
  #nav:popover-open {
    opacity: 0;
  }
}

.hamburguer-menu-overlay > div {
  display: flex;
  justify-content: end;
}

.hamburguer-menu-overlay section {
  height: 100dvh;
  background-color: var(--header-background);
  width: 80%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

/* #nav:popover-open > .hamburguer-menu > section {
} */
