---
import './header.css'
---

<header class='header fixed left-0 top-0 w-full border-b'>
  <div
    class='mx-auto flex max-w-screen-tablet items-center justify-between py-4'
  >
    <section class=''>
      UNGS Archive
      <span class='block text-xs'>Santiago Zarate </span>
    </section>
    <nav class='flex gap-4'>
      <a
        class='text-sm font-light uppercase opacity-50 transition-opacity hover:opacity-100'
        href='materias'>materias</a
      >
      <a
        class='text-sm font-light uppercase opacity-50 transition-opacity hover:opacity-100'
        href='materias'>Parciales</a
      >
    </nav>
  </div>
</header>
