---
import XMarkMiniIcon from '@component/icons/XMarkMiniIcon.astro'
import UngsLocoIcon from '../../icons/UngsLocoIcon.astro'
import BlurSwitcher from './BlurSwitcher.astro'
import './header.css'
import ThemeSwitcher from './ThemeSwitcher.astro'
import HamburguerMiniIcon from '@component/icons/HamburguerMiniIcon.astro'
import MobileHeader from './MobileHeader.astro'
---

<header class='header fixed left-0 top-0 z-50 w-full border-b px-6'>
  <div
    class='mx-auto flex max-w-screen-tablet items-center justify-between py-4'
  >
    <a href='/' class='flex items-center gap-2'>
      <span
        class='aspect-square h-full rounded-md bg-background-foreground p-1 text-background'
      >
        <UngsLocoIcon />
      </span>
      <div class='hidden sm:block'>
        <h2>UNGS Archive</h2>
        <span class='block text-xs'>Santiago Zarate </span>
      </div>
    </a>
    <section class='hidden items-center gap-8 mobile:flex'>
      <nav class='flex gap-4'>
        <a
          class='text-sm font-light uppercase opacity-50 transition-opacity hover:opacity-100'
          href='/materias'>materias</a
        >
        <a
          class='text-sm font-light uppercase opacity-50 transition-opacity hover:opacity-100'
          href='materias'>Parciales</a
        >
      </nav>
      <ThemeSwitcher />
      <BlurSwitcher />
    </section>
    <MobileHeader />
  </div>
</header>
