:root {
  --header-background: 190 10% 75%;
}

.dark {
  --header-background: 190 80% 3%;
}

.header {
  border-bottom: 1px solid hsl(0deg, 0%, 50%);
  background-color: var(--header-background);
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .header {
      animation: headerScrollAnimation linear both;
      animation-range: 0 10dvh;
      animation-timeline: scroll();
      backdrop-filter: blur(0px);
      border-bottom: 1px solid transparent;
    }
  }
}

@keyframes headerScrollAnimation {
  to {
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0deg, 0%, 50%);
  }
}
