---
import HamburguerMiniIcon from '@component/icons/HamburguerMiniIcon.astro'
import XMarkMiniIcon from '@component/icons/XMarkMiniIcon.astro'
import BlurSwitcher from './BlurSwitcher.astro'
import ThemeSwitcher from './ThemeSwitcher.astro'
import './mobile-header.css'
---

<section class='flex mobile:hidden'>
  <button
    popovertarget='nav'
    class='rounded-md border border-border p-2 text-border transition-colors hover:bg-accent'
    ><HamburguerMiniIcon /></button
  >
  <nav popover id='nav' class='hamburguer-menu-overlay'>
    <div>
      <section class='mobile-menu flex flex-col gap-8'>
        <header class='flex justify-end px-6 py-4'>
          <button
            popovertarget='nav'
            class='rounded-md border border-border p-2 text-border transition-colors hover:bg-accent'
            ><XMarkMiniIcon /></button
          >
        </header>
        <ul class='flex flex-col'>
          <a
            class='px-4 py-2 text-sm font-light uppercase opacity-50 transition-opacity hover:bg-secondary hover:opacity-100'
            href='/materias'>materias</a
          >
          <a
            class='px-4 py-2 text-sm font-light uppercase opacity-50 transition-opacity hover:bg-secondary hover:opacity-100'
            href='materias'>Parciales</a
          >
        </ul>
        <ul class='flex gap-4 p-4'>
          <ThemeSwitcher />
          <BlurSwitcher />
        </ul>
      </section>
    </div>
  </nav>
</section>
