#nav {
  right: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  transition:
    opacity 500ms,
    display 500ms allow-discrete;
  opacity: 0;
  padding: 0;
  margin: 0;
}

#nav:popover-open {
  opacity: 1;
}

@starting-style {
  #nav:popover-open {
    opacity: 0;
  }
}

#nav > div {
  display: flex;
  justify-content: end;
}

#nav .mobile-menu {
  height: 100dvh;
  background-color: var(--header-background);
  width: 80%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 300ms;
}

#nav:popover-open .mobile-menu {
  transform: translateX(0%);
}

@starting-style {
  #nav:popover-open .mobile-menu {
    transform: translateX(100%);
  }
}
