.sticky-header {
  border-bottom: 1px solid hsl(0deg, 0%, 50%);
  background-color: var(--header-background);
}

@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .sticky-header {
      animation: stickyHeaderAnimation linear both;
      animation-range: 0 100px;
      animation-timeline: scroll();
      background-color: transparent;
      border-bottom: 1px solid transparent;
      backdrop-filter: blur(0px);
    }
  }
}

@keyframes stickyHeaderAnimation {
  to {
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0deg, 0%, 50%);
  }
}
