---
import BreadcrumbLink from '@component/ui/BreadcrumbLink.astro'
import './sticky-header.css'

interface Props {
  links: { value: string; href: string }[]
  activeSlug: string
}

const { activeSlug, links } = Astro.props
---

<header class='sticky-header fixed left-0 top-[73px] mx-auto w-full'>
  <section
    class='mx-auto flex w-full max-w-screen-tablet divide-x divide-border *:px-2 [&>*:first-child]:pr-2 [&>*:last-child]:pl-2'
  >
    {
      links.map((link) => (
        <BreadcrumbLink href={link.href} value={link.value} />
      ))
    }
    <span
      class='text-ellipsis py-2 text-sm capitalize'
      transition:name={`tema-${activeSlug}`}
    >
      {activeSlug}
    </span>
  </section>
</header>
