<footer class="border-t border-black grid grid-cols-2">
  <p>Made by Santiago Zarate, powered by Astro</p>
  <ul class="flex flex-col gap-2">
    <li>
      <a href="https://github.com/SantiagoZarate">github</a>
    </li>
    <li>
      <a href="https://linkedin.com/santiago-zarate-dev">linkedin</a>
    </li>
  </ul>
</footer>