---
import GithubIcon from '../../icons/GithubIcon.astro'
import LinkedinIcon from '../../icons/LinkedinIcon.astro'
---

<footer
  class='mt-12 flex items-center justify-between border-t border-border pb-36'
>
  <p class='text-sm'>Made by Santiago Zarate, powered by Astro</p>
  <ul class='flex list-none gap-2'>
    <li>
      <a target='_blank' href='https://github.com/SantiagoZarate'
        ><GithubIcon /></a
      >
    </li>
    <li>
      <a target='_blank' href='https://www.linkedin.com/in/santiago-zarate-dev/'
        ><LinkedinIcon /></a
      >
    </li>
  </ul>
</footer>
