---
import Layout from '../../layouts/Layout.astro'
import path from 'node:path'
import { promises as fs } from 'node:fs'

const materiasDirectory = path.resolve('./public/materias')

let materias: string[] = []
try {
  materias = await fs.readdir(materiasDirectory)
} catch (error) {
  throw new Error('There was an error')
}
---

<Layout title='Materias'>
  <header>Materias</header>
  <nav class='flex list-none flex-col gap-2'>
    {
      materias.map((materia) => (
        <a
          class='rounded-xl px-2 no-underline transition hover:bg-black/40'
          href={`/materias/${materia}`}
        >
          {materia}
        </a>
      ))
    }
  </nav>
</Layout>
