---
import Layout from "../layouts/Layout.astro";
const URL = "https://raw.githubusercontent.com/SantiagoZarate/ungs/main/materias/espe/ingenieria-de-requerimientos/blog.md"
---

<Layout title="Santiago Zarate UNGS blog">
  <section>
    UNGS BLOG
  </section>
</Layout>