---
import Layout from '../layouts/Layout.astro'
---

<Layout title='UNGS Archive - Santiago Zarate'>
  <header>UNGS BLOG</header>
  <section>
    <p class='text-justify'>
      Bienvenidos a mi blog, donde compartiré temas y ejercicios relacionados
      con mi formación en la Tecnicatura Informática en la <strong
        >Universidad Nacional de General Sarmiento.</strong
      > Aquí documentaré mi aprendizaje sobre distintas materias como bases de datos,
      ingeniería de requerimientos, y programación orientada a objetos, entre otras.
      Mi objetivo es registrar y compartir mi progreso académico, así como ofrecer
      recursos útiles para otros estudiantes interesados en el mundo de la informática.
    </p>
  </section>
</Layout>
