@media (prefers-reduced-motion: no-preference) {
  @supports (animation-timeline: scroll()) {
    .temas-navbar {
      animation: temasNavbarScrollAnimation linear both;
      animation-range: 0 50dvh;
      animation-timeline: scroll();
    }
  }
}

@keyframes temasNavbarScrollAnimation {
  to {
    transform: translateX(-10%);
  }
}
